.footer{
    background-color: $secondarily_text;
    text-align: center;
    padding-top: 26px;
    padding-bottom: 26px;
    font-size: 22px;
    line-height: 24px;
    
    color: $light_secondary_text;
    }