$header_color: #0072bc; 
$btn_color:#f26522;
$secondarily_text:#ffffff;
$main_text: #080808;
$title_color: #8e0000;
$light_secondary_text: #333333;
$dark_btn_color: #444444;
$action_btn: #06811a;
$thema_color:#6dcff6;